@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.inter-font {
  font-family: "Inter", sans-serif;
}

.space-grotesk-font {
  font-family: "Space Grotesk", sans-serif;
}

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #47d1d1;
  --color-secondary: #ffffff;
  --color-base-100: #0F172A ;
  --color-base-200: #1A2539;
  --color-accent: #706F6F;
}

/* @plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #EB144C;
  --color-secondary: #ffffff;
  --color-base-100: #0F0F0F ;
  --color-base-200: #1A1A1A ;
  --color-base-300: #E7E7E7;
  --color-accent: ##f8faff;
} */

.wireframe-text {
  color: transparent;
  -webkit-text-stroke: 2px #14b8a6; /* Tailwind primary color */
  text-stroke: 2px #14b8a6;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Text selection styling */
::selection {
  background-color: #47d1d1;
  color: #0F172A;
}

::-moz-selection {
  background-color: #47d1d1;
  color: #0F172A;
}

